.outer{
    border: 3px solid white;
}

.inner {
    box-sizing: content-box;
    border: 2px solid black;
    text-align: center;
    align-content: center;
    padding: 8px;
}

.link{
    text-decoration: none;
}

.disabled{
    pointer-events: none;
}