.btn {
    box-sizing: content-box;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-bottom-right-radius: 5px;
    text-align: center;
    align-content: center;
    padding: 4px;
}

.link{
    text-decoration: none;
}

.disabled{
    pointer-events: none;
}