.btn {
    box-sizing: content-box;
    border-bottom: 2px solid var(--coffee-espresso-brown);
    text-align: center;
    align-content: center;
    padding: 6px;
    font-family: "Calibri Light", serif;
    font-size: large;
    font-weight: bold;
    width: 150px;
    height: 30px;
    background-color: var(--coffee-cappuccino-tan);
}

.link{
    text-decoration: none;
}
.link:hover{
    color: var(--midnight-blue);
}

.disabled{
    pointer-events: none;
}