body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0;
}

nav li {
  list-style: none;
  cursor: pointer;
}

header {
  text-align: center;
}

footer {
  background-color: yellow;
}
.lego::before {
  content: "lego";
  color: red;
}
.lego:hover::before {
  content: "LEGO";
  background-color: red;
  color: white;
}

.rip::before {
  content: "Rest ... ";
}

.rip:hover::before {
  content: "REST API ";
}

.night::before {
  content: "1001 Nights";
}

.night:hover::before {
  content: "1001 Nightmares";
}
