.home {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-end;
    margin-top: 15px;
    font-family: "Calibri Light", serif;
}

.permanent {
    font-family: "Calibri Light", serif;
    font-size: 32px;
}

.par{
    font-size: xx-large;
    text-align: right;
    padding-right: 20px;
}

.loading {
    font-size: xx-large;
    color: var(--pumpkin-puree)
}

.ok {
    font-size: xx-large;
    color: var(--forest-moss);
}