.home {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-end;
    margin-top: 15px;
    margin-right: 30px;
}

.permanent {
    font-size: 32px;
    margin-left: 15px;

}

.left{
    padding-left: 10px;
}

.par{
    font-size: xx-large;
    text-align: right;
    float: left;
    margin-right: 10px;
    margin-top: 2px;
}

.loading {
    font-size: xx-large;
    color: var(--pumpkin-puree)
}

.ok {
    font-size: xx-large;
    color: var(--forest-moss);
}

.letter{
    width: 75px;
    height: 75px;
    padding-left: 10px;
}