.logo {
    height: 90px;
    width: 90px;
    object-fit: contain;
    padding: 10px;
    border: 2px solid var(--coffee-cocoa-dust);
    background-color: var(--coffee-latte-cream);
    border-radius: 50% 0 50% 50%;
    z-index: 1000;
}




.logo:hover {
    border: 5px solid var(--night-bright-blue);
    background-color: var(--night-deep-navy);
    cursor: pointer;
}

.link {
    display: inline-flex;
    text-decoration: none;
}

