img {
    height: 90px;
    width: 90px;
    object-fit: contain;
    margin-right: 10px;
    padding: 10px;
    border: 5px solid var( --coffee-cocoa-dust);
    background-color: var(--coffee-latte-cream);
    border-radius: 0 50% 50% 50%;
}
