.logo {
    height: 120px;
    width: 120px;
    object-fit: contain;
    margin-right: 10px;
    padding: 10px;
    border: 5px solid var(--coffee-cocoa-dust);
    background-color: var(--coffee-latte-cream);
}

.lessLine{
    border-radius: 0 0 50% 50%;

}

.maxLines {
    border-radius: 0 0 0 50%;
}

.logo:hover {
    border: 5px solid var(--midnight-blue);
    background-color: var(--ocean-blue);
    cursor: pointer;
}

.link {
    display: inline-flex;
    text-decoration: none;
}

