.page {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.mask {
  width: 100%;
  position: relative;
  overflow: hidden;
  -webkit-mask-size: contain;
  mask-size: contain;

  -webkit-mask-position: center;
  mask-position: center;
}

.card img {
  width: 100%;
  height: 100%;
}

.card {
  flex: 1 1 30%;
  margin: 10px;
}

.table {
  width: 100%;
}

@media (width <= 600px) {
  .card {
    width: 100%;
  }
  .page {
    display: flex;
    flex-direction: column;
  }
}

@media (601px <= width <= 1024px) {
  .card {
    width: 45%;
  }
  .page {
    display: flex;
    flex-direction: column;
  }
}

@media (1025px <= width) {
  .card {
    width: 25%;
  }
}
