.page {
    min-height: 100vh;
    background-image: url("../../assets/lego-background.jpg");
    background-position: center;
    overflow-x: hidden;
}

.item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.mask {
    width: 100%;
    position: relative;
    overflow: hidden;
    -webkit-mask-image: url('../../assets/splash_mask.png');
    mask-image: url('../../assets/splash_mask.png');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    -webkit-mask-size: contain;
    mask-size: contain;

    -webkit-mask-position: center;
    mask-position: center;
}

.card img{
    width: 100%;
    height: 100%;
}

.card {
    width: 22%;
    margin: 10px;
}

h4 {
    text-align: center;
    color: white;
    font-family: 'fantasy', sans-serif;
    font-size: xx-large;
}