body {
  background-image: url("../../assets/img_1.png");
  min-height: 100vh;
}

.item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.mask {
  width: 100%;
  position: relative;
  overflow: hidden;
  -webkit-mask-image: url("../../assets/img_6.png");
  mask-image: url("../../assets/img_6.png");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  -webkit-mask-size: contain;
  mask-size: contain;

  -webkit-mask-position: center;
  mask-position: center;
}

.card img {
  width: 100%;
  height: 100%;
}

.card {
  width: 22%;
  margin: 10px;
}

@media (width <= 600px) {
  .card {
    width: 100%;
  }
}

@media (601px <= width <= 1024px) {
  .card {
    width: 45%;
  }
}

@media (1025px <= width) {
  .card {
    width: 25%;
  }
}
