.container {
    display: flex;
    width: 100%;
    margin: 0;

    position: sticky;
    top: 0;
    z-index: 1000;

    padding: 10px 12px;
}

.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.non_logo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1 1 auto;
    min-width: 0;
}

.hidden {
    display: none;
}