.container {
    display: flex;
    border: 2px solid black;

}

.logo{
    border: 2px solid blue;
}
.buttons{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.non_logo{
    display: flex;
    flex-direction: column;
}

.hidden{
    display: none;
}