.container {
    display: flex;
    width: 100%;
    margin: 0;
}

.buttons{
    display: flex;
    flex-direction: row;
}

.non_logo{
    display: flex;
    flex-direction: column;
}

.hidden{
    display: none;
}