.container {
    display: flex;
    width: 100%;
    margin: 0;
    position: sticky; /* or 'fixed' if you prefer */
    top: 0;
    z-index: 1000;
}

.buttons{
    display: flex;
    flex-direction: row;
}

.non_logo{
    display: flex;
    flex-direction: column;
}

.hidden{
    display: none;
}
