.wrapper{
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
}
.hidden{
    width: 40%;
    visibility: hidden ;
}

.display{
    display: flex;
    flex-direction: column;
    border-left: 2px solid var(--blood-orange);
    border-top: 2px solid var(--blood-orange);
    border-right: 2px solid var(--blood-orange);
    border-radius: 45px 0 0 0 ;
    background: var(--amber-cream);
    width: 60%;
    justify-content: center;
    align-items: center;
}