.btn {
    box-sizing: content-box;
    border-bottom: 2px solid var(--coffee-espresso-brown);
    border-bottom-right-radius: 8px;
    text-align: center;
    align-content: center;
    padding: 6px;
    font-family: "Calibri Light", serif;
    font-size: large;
    font-weight: bold;
    width: 150px;
    height: 30px;
    background-color: var(--coffee-cappuccino-tan);
}

.btn:hover {
    cursor: pointer ;
}

.disabled{
    pointer-events: none;
}